form {
  border: 1px solid #ccc;
  padding: 1em;
}
h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}
input,
label {
  display: block;
  font: 1em sans-serif;
}
input {
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  margin: 0.25em 0 1em;
}
